<!DOCTYPE html>
<html lang="en">

<head>
    <title>Người Dùng</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/bootstrap-5.2.3-dist/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Icon web -->
    <link rel="icon" href="/images/logo_app.png" type="image/png">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<style>
    .th-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    }    
    .lock-icon{
        width: 16px; /* Đặt kích thước hình ảnh dựa trên kích thước thích hợp */
    height: 16px;
    }
    .page-item.active .page-link {
    background-color: #007bff; /* Màu nền khi nút được chọn */
    color: #fff; /* Màu chữ khi nút được chọn */
    border-color: #007bff; /* Màu viền khi nút được chọn */
}
</style>
</head>

<body onload="time()" class="app sidebar-mini rtl">
    <%- include('../inc/nav.ejs') %>
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Danh sách người dùng</b></a></li>
            </ul>
           
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <!-- thanh chức năng đầu tiên -->
                        <div class="row element-button">
                            <!-- <div class="col-sm-2">
                             
                                <a class="btn btn-add btn-sm" href="/user/<%= countPage %>/add" title="Thêm" id="show-emp"><i
                                        class="fas fa-plus"></i>
                                    Tạo mới người dùng</a> 
                            </div> -->
                            <div class="col-sm-2" id="btnExport">
                                <a class="btn btn-excel btn-sm" href="/user/countPage/in"  title="In"><i class="fas fa-file-excel"></i>
                                    Xuất Excel</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm print-file" href="/user/countPage/print"  type="button" title="In"
                                    ><i class="fas fa-print"></i> In dữ liệu</a>
                            </div>
                        </div>
                        <!-- thanh tìm kiếm -->
                        <div class="d-flex justify-content-between" style="margin-top: 20px; margin-bottom: 30px;">
                            <div class="dataTables_length d-flex align-items-center">
                                <label class="mr-2" style="vertical-align: middle; text-align: center; margin-bottom: 0px;">Xem</label>
                                <select name="data_tables_leght" style="width: 60px;" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm" onchange="changePerPage(this)">
                                    <option value="5" <%= perPage === 5 ? 'selected' : '' %>>5</option>
                                    <option value="10" <%= perPage === 10 ? 'selected' : '' %>>10</option>
                                    <option value="25" <%= perPage === 25 ? 'selected' : '' %>>25</option>
                                    <option value="50" <%= perPage === 50 ? 'selected' : '' %>>50</option>
                                    <option value="100" <%= perPage === 100 ? 'selected' : '' %>>100</option>
                                </select>
                                <label class="ml-2" style="vertical-align: middle; text-align: center; margin-bottom: 0px">mục</label>
                            </div>
                            <form role="search" class="d-flex" style="margin-left: auto;">
                                <input class="form-control col-6 col-sm-6 col-md-9" type="search" placeholder="Tìm kiếm..." aria-label="Search" name="searchUser" value="<%= req.query.searchStaff || '' %>">
                                <button class="btn btn-outline-info" style="margin: 0px;" type="submit"><i style="height: 20px; padding-top: 6px; " class=' bx bx-search-alt-2'></i></button>
                            </form>
                        </div>
                        <!-- thay đỏi -->
                        <table class="table table-bordered col" id="tableorder">
                            <thead style="width: auto;">
                                <tr>
                                   <th scope="col" style="vertical-align: middle; width: 5%; padding: 7px;">
                                    <a class="d-flex" href="<%= req.params.i %>?by=_id&order=<%= (by === '_id' && order === 'asc') ? 'desc' : 'asc' %>">
                                      <div class="th-link">
                                        Mã 
                                      </div>
                                    </a>
                                  </th>
                                  <th scope="col" style="vertical-align: middle; width: 150px; text-align: center; width: 8%; padding: 7px;">
                                    Ảnh đại diện
                                  </th>
                                  <th scope="col" style="vertical-align: middle; text-align: center; width: 10% ;padding: 7px;">
                                    <a class="d-flex" href="<%= req.params.i %>?by=username&order=<%= (by === 'username' && order === 'asc') ? 'desc' : 'asc' %>">
                                      <div class="th-link">
                                        Tên tài khoản
                                      </div>
                                    </a>
                                  </th>
                                  <th scope="col" style="vertical-align: middle; text-align: center; width: 18%;padding: 7px;">
                                    <a class="d-flex" href="<%= req.params.i %>?by=name&order=<%= (by === 'name' && order === 'asc') ? 'desc' : 'asc' %>">
                                     <div class="th-link">
                                        Họ và tên 
                                      </div>
                                    </a>
                                  </th>
                                  <th scope="col" style="vertical-align: middle; text-align: center; width: 10% ; padding: 7px;">SDT</th>
                                  <th scope="col" style="vertical-align: middle; text-align: center; width: 20% ;padding: 7px;">Email</th>
                                  <!-- <th scope="col" style="vertical-align: middle; text-align: center; width: 10% ;padding: 7px;">Trạng thái</th> -->
                                  <th scope="col" style="vertical-align: middle; text-align: center; width: 12% ;padding: 7px;">Chức năng</th>
                                </tr>
                              </thead>
                            <tbody>
                                <% listUS.forEach((user)=> { %>
                        
                                    <tr>
                                        <td style="vertical-align: middle; text-align: center; padding: 7px;">
                                            <%= user._id %>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;max-width: 100px; padding: 7px;">
                                            <img src="<%= user.image %>" alt="anh" style="width: 60px; height: 60px;border-radius: 30px;">
                                        </td>
                                        <td style="vertical-align: middle; text-align: center; padding: 7px;">
                                            <%= user.username %></td>
                                        
                                        <td style="vertical-align: middle; text-align: center; padding: 7px;">
                                             <%= user.name %></td>

                                        <td style="vertical-align: middle; text-align: center; padding: 7px;">
                                            <%= user.phone %></td>
                                        
                                        <td style="vertical-align: middle; text-align: center; padding: 7px;">
                                            <%= user.userEmail %></td>   
                                
                                      

                                        <!-- <td style="vertical-align: middle; text-align: center; padding: 7px;">
                                            <%= user.isActive ? 'Hoạt động' : 'Khóa' %></td> -->

                                        <td style="vertical-align: middle; text-align: center; padding: 7px;">
<!--                                         
                                            <button class="btn bg-warning-subtle btn-sm edit"  type="button" title="Sửa" id="show-emp">
                                               <i class="fas fa-edit"></i>
                                            </button>
                                            </a> -->
                                                <button class="btn bg-warning-subtle btn-sm" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#detailModel" data-user-info="<%= JSON.stringify(user) %>">
                                                    <i class="fa fa-info"></i>
                                                </button>
                                            
                                        </td>
                                    </tr>
                                    <% }); %>


                            </tbody>
                        </table>
                        <!-- hết bảng -->
                        <div class="row justify-content-between" style="vertical-align: middle; align-items: center">
                            <div class="col-auto">
                              Bạn đang xem <%=(listUS.length == 0) ? start : start + 1 %> đến <%= start + listUS.length %> trong tổng số <%= totalUsers %> người dùng
                            </div>
                            <div class="col-auto">
                              <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                  <% for (let i = 1; i <= countPage; i++) { %>
                                    <li class="page-item<%= (i == req.params.i) ? ' active' : '' %>">
                                      <a class="page-link" href="/user/<%= i %>"><%= i %></a>
                                    </li>
                                  <% } %>
                                </ul>
                              </nav>
                            </div>
                          </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>


    <div class="modal fade" style=" align-items: flex-start; justify-content: center; padding-top: 0px;" id="detailModel" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="color: black;">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Thông tin người dùng</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Mã:</strong> <span id="userId"></span></p>
                    <p><strong>Ảnh:</strong></p>
                    <img id="userImage" src="" alt="Ảnh người dùng" style="width: 60px; height: 60px; border-radius: 30px;">
                    <p><strong>Tên đăng nhập:</strong> <span id="username"></span></p>
                    <p><strong>Tên:</strong> <span id="name"></span></p>
                    <p><strong>Số điện thoại:</strong> <span id="phone"></span></p>
                    <p><strong>Email:</strong> <span id="userEmail"></span></p>
                    <p><strong>Vai trò:</strong> <span id="role"></span></p>
                    <div id="addressList">
                        <h6>Danh sách địa chỉ:</h6>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Địa chỉ</th>
                              <th>Số điện thoại</th>
                            </tr>
                          </thead>
                          <tbody id="addressTableBody"></tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>

   

    <!-- Essential javascripts for application to work-->
    <script src="/bootstrap-5.2.3-dist/js copy/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap-5.2.3-dist/js copy/popper.min.js"></script>
    <script src="/bootstrap-5.2.3-dist/js copy/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/bootstrap-5.2.3-dist/js copy/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="/bootstrap-5.2.3-dist/js copy/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        $('#sampleTable').DataTable();
        //Thời Gian
        function time() {
            var today = new Date();
            var weekday = new Array(7);
            weekday[0] = "Chủ Nhật";
            weekday[1] = "Thứ Hai";
            weekday[2] = "Thứ Ba";
            weekday[3] = "Thứ Tư";
            weekday[4] = "Thứ Năm";
            weekday[5] = "Thứ Sáu";
            weekday[6] = "Thứ Bảy";
            var day = weekday[today.getDay()];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            nowTime = h + " giờ " + m + " phút " + s + " giây";
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = day + ', ' + dd + '/' + mm + '/' + yyyy;
            tmp = '<span class="date"> ' + today + ' - ' + nowTime +
                '</span>';
            document.getElementById("clock").innerHTML = tmp;
            clocktime = setTimeout("time()", "1000", "Javascript");

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        }

    </script>
    <!-- <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Nút mở modal
          console.log('da clickkkkkkkk'+button);
          var userId = button.data('user-id') // Lấy giá trị của thuộc tính data-product-id
          var deleteModal = document.querySelector("#deleteModal");
          var formDelete = deleteModal.querySelector("#formDelete");
          formDelete.querySelector("#IdDelete").value = userId;
          $("#confirmDeleteBtn").click(function () {
            // Xử lý xoá sản phẩm ở đây
      
            // Sau khi xoá thành công, ẩn dialog
            $('#deleteModal').modal('hide');
          });
        })
      </script> -->

        <script>
            function changePerPage(selectElement) {
            const perPage = parseInt(selectElement.value);
            const currentPage = parseInt('<%= req.params.i %>'); // Lấy trang hiện tại từ dữ liệu động
            const url = `/user/${1}?data_tables_leght=${perPage}`;

            window.location.href = url; // Chuyển hướng đến URL mới với số lượng bản ghi được thay đổi
            }
        </script>

        <script>
       $('#detailModel').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var user = button.data('user-info');
      
                console.log(user);
                var modal = $(this);
                modal.find('#userId').text(user._id);
                modal.find('#userImage').attr('src', user.image);
                modal.find('#username').text(user.username);
                modal.find('#name').text(user.name);
                modal.find('#phone').text(user.phone);
                modal.find('#userEmail').text(user.userEmail);
                modal.find('#role').text(user.role);

                var addressTableBody = modal.find('#addressTableBody');
                addressTableBody.empty();

                if (user.addressList && user.addressList.length > 0) {
                user.addressList.forEach(function (address) {
                    var row = '<tr>' +
                    '<td>' + address.address + '</td>' +
                    '<td>' + address.phone + '</td>' +
                    '</tr>';
                    addressTableBody.append(row);
                });
                } else {
                addressTableBody.append('<tr><td colspan="2">Không có địa chỉ</td></tr>');
                }
            });
        </script>

</body>

</html>